@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Newsreader:ital@0;1&display=swap");

.outline {
  height: 25px;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 68px;
  border-bottom: 2px solid #eeeeee;
}
.logo {
  width: 43px;
  height: 50px;
  margin-left: 7%;
}
.title {
  font-family: "Newsreader";
  font-style: italic;
  font-weight: 600;
  font-size: 35.5364px;
  color: #ffffff;
}
.ham {
  margin-right: 5%;
}

/* Nav */
.nav_form {
  position: fixed;
  background: #ffc700;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px 10px 0 0;
  width: 100%;
  height: 83px;
  bottom: 0;
}
.nav_list {
  display: flex;
  justify-content: center;
}

/* Ranker */
.rankbox {
  /* width: 414px; */
  overflow: hidden;
}
.subtitle {
  font-family: Noto Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  color: #ffffff;
  text-shadow: 0px 4px 4px #000000;
  padding: 5%;
  /* border: 1px solid red; */
}
.rank {
  width: 600px;
}
.rankboxId {
  width: 168px;
  height: 82px;
  background: rgba(255, 255, 255, 0.5);
  margin: 5px;
  display: inline-flex;
  border-radius: 10px;
  box-shadow: 0px 4px 4px #000000;
}
.rankboxId:first-child {
  margin-left: 15px;
}

/* Top */
.topbox {
  overflow: hidden;
}
.toplist {
  width: 3000px;
}
.topcontents {
  display: inline-flex;
  width: 322px;
  height: 297px;
  background: #ffffff;
  border: 1px solid #000000;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px #000000;
  border-radius: 10px;
  margin: 5px;
}
.topcontents:first-child {
  margin-left: 15px;
}

/* New */
.newcontents {
  width: 376px;
  height: 129px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.5);
  box-shadow: 0px 4px 4px #000000;
  border-radius: 10px;
  margin: 0 19px 10px 19px;
}

/* Show */
.showbox {
  overflow: hidden;
}
.showlist {
  width: 600px;
}
.showcontents {
  width: 168px;
  height: 188px;
  display: inline-flex;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  margin: 5px;
}
.showcontents:first-child {
  margin-left: 15px;
}

/* Ask */
.askbox {
  /* width: 414px; */
  overflow: hidden;
}
.asklist {
  width: 600px;
}
.askcontents {
  width: 175px;
  height: 217px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  box-shadow: 0px 4px 4px #000000;
  border-radius: 10px;
  display: inline-flex;
  border-radius: 10px;
  box-shadow: 0px 4px 4px #000000;
  margin: 5px;
}
.askcontents:first-child {
  margin-left: 15px;
}

/* Jobs */
.jobslist {
  padding-bottom: 100px;
}
.jobscontents {
  width: 377px;
  height: 115px;
  background: #ffffff;
  border: 1px solid #000000;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px #000000;
  border-radius: 10px;
  margin: 0 19px 10px 19px;
}
